#name{
    font-family: courier;
    color: #383b3e;
}

html{
    background-image: url("https://wallpaperaccess.com/full/1659875.jpg");
}

a{
    text-decoration: none;
}

.header{
    font-family: courier;
}

.navbar{
    font-family: courier;
    font-weight: bold;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
}

.contentscontainer{
    position: absolute;
    left: 100px;
}

#projectsparentcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectcontainer{
    background-color: rgba(210,210,210,0.4);
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
  }

.projectheader{
    text-align: center;
}

.bodytext{
    font-family: courier;
    font-weight: bold;
}

#video{
    display: block;
    margin: auto;
}

#more{
    display: none;
}

.formcontainer{
    background-color: rgba(210,210,210,0.4);
    width: auto;
    height: auto;
    position: absolute;
    left: 200px;
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
}