/* INDEX/HOME */
#name{
    font-family: courier;
    color: #383b3e;
}

html{
    background-image: url("https://wallpaperaccess.com/full/1659875.jpg");
}

a{
    text-decoration: none;
    color: #383b3e;
}

.header{
    font-family: courier;
}

/* NAVBAR */
.navbar{
    font-family: courier;
    font-weight: bold;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
}

/* PROJECTS */
.contentscontainer{
    position: absolute;
    left: 245px;
}

#projectsparentcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectcontainer{
    background-color: rgba(210,210,210,0.4);
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
  }

.projectheader{
    text-align: center;
}

.bodytext{
    font-family: courier;
    font-weight: bold;
}

#video{
    display: block;
    margin: auto;
}

#more{
    display: none;
}

/* CONTACTME */
.formcontainer{
    background-color: rgba(210,210,210,0.4);
    width: auto;
    height: auto;
    position: absolute;
    left: 200px;
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
}

/* EDUCATION */
/*original dimensions: 792 × 612 */
.certificate{
    width: 550px;
    height: auto;
    border-radius: 25px;
}