#name{
    font-family: courier;
    color: #383b3e;
}

.header{
    font-family: courier;
}

.information{
    background-color: rgb(210,210,210);
    margin: 5px 17% 5px 17%;
    border-radius: 25px;
    border: 3px solid black;
    padding: 20px;
  }